.motif {
  width: 350px;
  margin: 50px auto;
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.motif img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

.motif h1 {
  color:blueviolet;
}

.motif p {
  margin: 15px;
}
.motif strong{
  color: black;
}